body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background: #72b800;
    color: #000;
    margin: 0;
}

p.green {
    color: #008000;
    background: #fff;
}

p.black {
    color: black;
}

a.header {
    color: transparent;
    background-image: linear-gradient(#e8fd00, #fff, #e8fd00);
    -webkit-text-stroke: 1px #000;
    background-clip: text;
    font-size: 4em;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    margin: auto;
    display: block;
}

h1 { margin-top: 0; padding-top: 12px; }
h1.yellow {
    color: #e8fd00;
}

h2 {
    color: #000;
}

.a1 {
    color: #0000ff;
    background: #fff;
}

.a2 {
    color: #ff0000;
    background: #fff;
}

h6.warn {
    color: #ff0000;
    background: #fff;
}

td.menu {
    border-width: thick;
    border-color: #72b800;
    border-style: outset;
}

td.menu {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    color: #e8fd00;
    background: #000;
}

td.nobrd {
    border-style: none
}

A.menu:link {
    color: #e8fd00;
    background: #000;
    cursor: pointer;
}

A.menu:visited {
    color: #fff;
    background: #000;
    cursor: pointer;
}

A.menu:hover {
    color: #008000;
    background: #000;
    cursor: pointer;
}

A.menu:active {
    color: #72b800;
    background: #000;
    cursor: pointer;
}

header {
    margin-top: 15px;
    margin-bottom: 15px;
}

footer {
    background-color: #fff;
    vertical-align: top;
    border-radius: 6px;
    padding: 18px;
    position: relative;
    top: 6px;
    font-size: .8em;
}

#body {
    margin-bottom: 16px;
    width: 997px;
    margin-left: auto;
    margin-right: auto;
}

.article {
    background-color: #fff;
    padding: 0 24px 12px 24px;
    border-radius: 6px;
}

.blaise { color: #008000; }
.crazyboy { color: #ff0000; }
.eddie { color: #ff00ff; }

table { border-collapse: collapse; width: 100%; }
td { border: 1px solid #000; }