body {
    font-family: Calibri, "Trebuchet MS", sans-serif;
    background: #72b800;
    color: #000;
    margin: 0;
}

h1 {
    margin-top: 0;
    padding-top: 12px;
}

h2 {
    color: #000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #000;
    vertical-align: top;
}

header {
    margin-top: 15px;
    margin-bottom: 0;
}

footer {
    background-color: #fff;
    vertical-align: top;
    border-radius: 6px;
    padding: 18px;
    position: relative;
    top: 6px;
    font-size: 0.8em;
}

a.header {
    color: transparent;
    background-image: linear-gradient(#e8fd00, #fff, #e8fd00);
    -webkit-text-stroke: 1px #000;
    background-clip: text;
    font-size: 4em;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    margin: auto;
    display: block;
}

.article {
    background-color: #fff;
    padding: 0 24px 12px 24px;
    border-radius: 6px;
}

.warn {
    color: #f00;
}

.blaise {
    color: #080;
}

.crazyboy {
    color: #f00;
}

.eddie {
    color: #f0f;
}

.kurt {
    color: #808080;
}

.label {
    color: #00f;
}

.terrakon {
    color: #800080;
}

.k {
    color: #f00;
}

.mart {
    color: #00f;
}

.mountain {
    color: #0f0;
}

.dew {
    color: #f00;
}

.ferris {
    color: #800000;
}

.state {
    color: #808000;
}

.sol {
    color: #f98700;
}

.mm {
    color: #2896fe;
}

.ix {
    color: #923eb8;
}

.lo {
    color: #03c0ee;
}

.fsi {
    color: #0e1d4a;
}

.indent {
    text-indent: 0.5in;
}

.two-columns {
    columns: 2;
}

.strike {
    text-decoration: line-through;
}

#body {
    margin-bottom: 16px;
    width: 997px;
    margin-left: auto;
    margin-right: auto;
}

ul.nav {
    width: 770px;
    margin: 0 auto 6px auto;
    padding: 0;
}

ul.nav > li {
    display: inline-block;
    width: 100px;
    cursor: default;
    background-color: #e8fd00;
    padding: 3px;
    text-align: center;
    position: relative;
}

ul.nav > li > ul {
    display: none;
}

ul.nav > li:hover {
    background-color: #000;
    color: #e8fd00;
}

ul.nav > li:hover > ul {
    display: block;
    position: absolute;
    padding-left: 0;
    left: 0;
    top: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 0 0 6px 6px;
}

ul.nav a {
    width: 138px;
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 6px;
}

ul.nav a:last-of-type {
    border-radius: 0 0 6px 6px;
}

ul.nav a:hover {
    background-color: #72b800;
    color: #e8fd00;
}

ul.nav > li:hover > ul > li {
    padding: 0;
    width: 150px;
    text-align: left;
    background-color: #e8fd00;
}

ul.nav > li:hover > ul > li:last-of-type {
    border-radius: 0 0 6px 6px;
}

ul.nav > li:hover > ul > li:first a {
    padding-top: 3px;
}

ul.nav > li:hover > ul > li:last-of-type a {
    padding-bottom: 3px;
    border-radius: 0 0 6px 6px;
}
